<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/Ediit.css">
</head>
<body>
    <div >
        <div >
        </div>
      
        <h5 >Edit your Note</h5>
   <form action="/update/<%= post._id%>" method="post">
    <textarea name="content" placeholder="what's your note"  id=""><%= post.content%></textarea>
<input type="submit" value="update" >   

</form>

</div>

</body>
</html>