<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users and Their Posts</title>
  <link rel="stylesheet" href="/css/read.css">
</head>
<body>
    <div >
        <h3 >All Users and Their Quotes</h3>
        <a href="/profile" >Go to your profile</a>
        <div >
            <% users.forEach((user) => { %>
                <div >
                    <h2 ><%= user.name %></h2>
                    
                    <div >
                        <% user.posts.forEach((ele) => { %>
                            <div >
                                <p ><%= ele.content %></p>
                              
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
            <a  href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>

